body {
  background-color: #FFFFEE;
}

h1{
  text-align: center;
}

h2{
  text-align: center;
}

#thread_list{
  background-color: #EEFFFF;
  border: solid;
}

#new_create_thread{
  text-align: center;
}
